
<!--registrarse los datos-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h1 th:text="${mensaje}">Silvia Lorero Salor </h1>
<form th:action="@{/user/create}" th:object="${usuario}" method="post">
    <fieldset>
        <legend>Datos del usuario</legend>
        <table>
            <tr>
                <td><label th:text="#{form.user.nombre}">Introduce tu nombre: </label></td>
                <td><input type="text" th:field="*{nombre}" /></td>
            </tr>
            <tr>
                <td><label th:text="#{form.user.apellido}">Introduce tu apellido: </label></td>
                <td><input type="text" th:field="*{apellido}" /></td>
            </tr>
            <tr>
                <td><label th:text="#{form.user.edad}">Introduce tu edad: </label></td>
                <td><input type="number" th:field="*{edad}" /></td>
            </tr>

        </table>
    </fieldset>
</form>





<form th:action="@{/user/create}" th:object="${usuario}" method="post">

    <div class="errorblock" th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Input is incorrect</li>
        </ul>
    </div>

</form>
</html>
